@import 'breakpoint';
@import 'layout';
@import 'typography';
@import 'theme';

.board-row {
  @include breakpoint(tiny) {
    width: 80vw;
  }

  @include breakpoint(x-small) {
    width: $row-width * .8;
  }

  @include breakpoint(small) {
    width: $row-width;
  }

  @include breakpoint(medium) {
    width: $row-width;
  }

  @include breakpoint(large) {
    width: $row-width;
  }
}

.game-cell {
  @include breakpoint(tiny) {
    font-size: 25vw;
    height: 30vw;
    width: 25vw;
  }

  @include breakpoint(x-small) {
    font-size: $cell-size * .79;
    height: $cell-size * .79;
    width: $cell-size * .79;
  }

  @include breakpoint(small) {
    height: $cell-size;
    width: $cell-size;
  }

  @include breakpoint(medium) {
    height: $cell-size;
    width: $cell-size;
  }

  @include breakpoint(large) {
    height: $cell-size;
    width: $cell-size;
  }
}

// html {
//   @include breakpoint(large) {
//     height: 944px;
//   }
// }

.title {
  @include breakpoint(tiny) {

  }

  @include breakpoint(x-small) {

  }

  @include breakpoint(small) {

  }

  @include breakpoint(medium) {

  }

  @include breakpoint(large) {

  }
}

.credit {
  @include breakpoint(tiny) {
    font-size: ($credit-size * .75);
  }

  @include breakpoint(x-small) {
    font-size: ($credit-size * .75);
  }

  @include breakpoint(small) {
    font-size: ($credit-size * .75);
  }

  @include breakpoint(medium) {
    font-size: $credit-size * .8;
  }

  @include breakpoint(large) {
    font-size: $credit-size * .85;
  }
}
