@import 'breakpoint';
@import 'layout';
@import 'typography';
@import 'theme';

.board-row {
  @include breakpoint(tiny) {
    width: $row-width * .85;
  }

  @include breakpoint(x-small) {
    width: $row-width * .95;
  }

  @include breakpoint(small) {
    width: $row-width;
  }

  @include breakpoint(medium) {
    width: $row-width;
  }

  @include breakpoint(large) {
    width: $row-width;
  }
}

.game-cell {
  @include breakpoint(tiny) {
    height: $cell-size * .85;
    margin: $cell-size * .0085;
    width: $cell-size * .85;
  }

  @include breakpoint(x-small) {
    height: $cell-size * .95;
    margin: $cell-size * .0095;
    width: $cell-size * .95;
  }

  @include breakpoint(small) {
    height: $cell-size;
    width: $cell-size;
  }

  @include breakpoint(medium) {
    height: $cell-size;
    width: $cell-size;
  }

  @include breakpoint(large) {
    height: $cell-size;
    width: $cell-size;
  }
}

// .game-cell {
//   @include breakpoint(tiny) {
//     height: $cell-width * .85;
//     margin: $cell-width * .0085;
//     width: $cell-width * .85;
//   }
//
//   @include breakpoint(x-small) {
//     height: $cell-width * .95;
//     margin: $cell-width * .0095;
//     width: $cell-width * .95;
//   }
//
//   @include breakpoint(small) {
//     height: $cell-width;
//     width: $cell-width;
//   }
//
//   @include breakpoint(medium) {
//     height: $cell-width;
//     width: $cell-width;
//   }
//
//   @include breakpoint(large) {
//     height: $cell-height;
//     width: $cell-height;
//   }
// }

// New game button font-size and line height
.btn-text {
  @include breakpoint(tiny) {
    font-size: $new-game-size;
    line-height: $new-game-line-height;
  }

  @include breakpoint(x-small) {
    font-size: $new-game-size;
    line-height: $new-game-line-height * .8;
  }

  @include breakpoint(small) {
    font-size: $new-game-size * .9;
    line-height: $new-game-line-height;
  }

  @include breakpoint(medium) {
    font-size: $new-game-size;
    line-height: $new-game-line-height;
  }

  @include breakpoint(large) {
    font-size: $new-game-size;
    line-height: $new-game-line-height;
  }
}

.title {
  @include breakpoint(tiny) {
    height: $title-width * 1.1;
    width: $title-width * 1.1;
  }

  @include breakpoint(x-small) {
    height: $title-width * 1.1;
    width: $title-width * 1.1;
  }

  @include breakpoint(small) {
    height: $title-width;
    width: $title-width;
  }

  @include breakpoint(medium) {
    height: $title-width;
    width: $title-width;
  }

  @include breakpoint(large) {
    height: $title-width;
    width: $title-width;
  }
}

.background-vid {
  @include breakpoint(tiny) {
    width: $background-width + 16vw;
  }

  @include breakpoint(x-small) {
    width: $background-width + 16vw;
  }

  @include breakpoint(small) {
    width: $background-width + 16vw;
  }

  @include breakpoint(medium) {
    width: $background-width + 23vw;
  }

  @include breakpoint(large) {
    width: $background-width;
  }
}

.win-tie-message {
  @include breakpoint(tiny) {
    color: $grey;
    font-size: $winner-font-size;
    max-width: 60vw;
  }

  @include breakpoint(x-small) {
    color: $grey;
    font-size: $winner-font-size;
    max-width: 75vw;
  }

  @include breakpoint(small) {
    color: $grey;
    font-size: $winner-font-size;
    max-width: 75vw;
  }

  @include breakpoint(medium) {
    color: $grey;
    font-size: $winner-font-size;
    max-width: 75vw;
  }

  @include breakpoint(large) {
    color: $grey;
    font-size: $winner-font-size;
    max-width: 75vw;
  }
}


.credit {
  @include breakpoint(tiny) {
    font-size: ($credit-size * .45);
  }

  @include breakpoint(x-small) {
    font-size: ($credit-size * .55);
  }

  @include breakpoint(small) {
    font-size: ($credit-size * .75);
  }

  @include breakpoint(medium) {
    font-size: $credit-size * .8;
  }

  @include breakpoint(large) {
    font-size: $credit-size * .85;
  }
}
