$row-width: 740px;
$cell-size: $row-width / 3.6;

body {
  z-index: 10;
}

p {
  margin: 0;
}

.background {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;

  width: 100%;
  z-index: -800;
}

.background-vid {
  width: 100%;
  z-index: -800;
}

.overlay {
  text-align: center;
  width: 100%;
  z-index: 100;
}

.title {
  height: 10%;
  padding-top: 200px;
  width: 41%;
}

.content {
  text-align: center;
}

.game-container {
  clear: both;
  margin-bottom: 15px;
  text-align: center;
}

.btn-text {
  margin: 10px;
  text-align: center;
}

.new-game-btn {
  display: inline-block;
  margin: 35px 0 0;
  padding: 2px;
  position: relative;
  transition: 2s;
}

.player-turn {
  clear: both;
  text-align: center;
}

.game-board {
  margin: 2vh auto 0;
  text-align: center;
}

.board-row {
  margin: auto;
  position: relative;
}

.game-cell {
  box-sizing: border-box;
  display: inline-block;
  float: none;
  height: $cell-size;
  padding: 0;
  text-align: center;
  width: $cell-size;
}

footer {
  bottom: 0;
  position: fixed;
}

.credit {
  margin: 55px 0 5px 10px;
}
