$unit: 900px;
$height: ($unit / 3);
$row-width: $unit;
$base-container-width: 1200px;
$header-margin: 15px;
$header-box-height: 95px;

p {
  margin: 0;
}

.title {
  float: left;
  margin: ($header-box-height * .28) 0 0 $header-margin;
}

.header-box {
  align-items: flex-end;
  display: flex;
  float: right;
  height: $header-box-height;
  margin-right: $header-margin;
}

.sign-in-prompt {
  float: left;
  // margin-right: ($header-margin * 1.5);
  // margin-top: $header-margin;
}

.user-welcome {
  align-items: center;
  display: flex;
  float: right;
  // justify-content: center;
  margin-right: ($header-margin * 1.5);
  margin-top: $header-margin;
}

.welcome-msg {
  float: left;
  margin: auto 5px;
}

.cog-btn {
  float: right;
  margin: 3px;
  padding: 0;
}

.glyphicon-cog {
  margin: 0;
  padding: 3px 3px 1px 4px;
}


hr {
  clear: both;
  margin: 0;
  position: static;
  width: 100%;
}

.container {
  margin: 20px auto;
  max-width: $base-container-width;
  // position: relative;
}

.game-container {
  text-align: center;
}

.new-game-text {
  clear: both;
  margin: 10px 5px;
  text-align: center;
}

.new-game-button {
  clear: both;
  margin: 5px auto;
}

.player-turn {
  clear: both;
  text-align: center;
}

.game-board {
  margin: 0 auto;
  // position: relative;
  text-align: center;
  // width: 92%;
}

.board-row {
  margin: 0 auto;
  width: $row-width;
}

.game-cell {
  box-sizing: border-box;
  height: $height;
  margin: 0 auto;
  width: ($row-width / 3);
}

.credit {
  margin: 55px 0 5px 10px;
}
