@import 'layout';
$sumana: 'Sumana';

$title-size: 75px;
$credit-size: 16px;
$new-game-size: 2vw;
$new-game-line-height: 2vw;
$game-piece-font-size: $cell-size;
$winner-font-size: 9vw;

body {
  color: $charcoal;
  font-family: $sumana;
}

.btn-text {
  color: $stranger-red;
  font-weight: 700;
  user-select: none;
}

.game-cell {
  font-size: $game-piece-font-size;
  line-height: $cell-size * .8;
  position: relative;
  text-align: center;
}

.x {
  color: $grey;
  text-shadow: 0 0 50px $stranger-blue;
}

.o {
  color: $dark-blue;
  text-shadow: 0 0 50px $stranger-red;
}

.win-tie-message {
  line-height: 1;
  text-align: center;
  text-shadow: 0 0 50px $stranger-blue;
}
