@import 'layout';
$sumana: 'Sumana';
$rubik: 'Rubik', sans-serif;

$title-size: 75px;
$credit-size: 16px;
$new-game-size: 2vw;
$new-game-line-height: 2vw;
$game-piece-font-size: $cell-size;

body {
  color: $charcoal;
  font-family: $sumana;
}

.btn-text {
  color: $stranger-red;
  font-weight: 700;
  // transition: 1s;
  user-select: none;
}

// .btn-text:hover {
//   color: $near-black;
// }

.game-cell {
  color: $dark-blue;
  font-size: $game-piece-font-size;
  line-height: $cell-size * .8;
  position: relative;
  text-align: center;
  text-shadow: 0 0 50px $stranger-red;
}
