@import 'layout';

$title-size: 75px;
$credit-size: 16px;
$new-game-size: 2vw;
$new-game-line-height: 25px;

$sumana: 'Sumana';
$rubik: 'Rubik', sans-serif;

$font-size: 14px;
$line-height: 1.6;
$heading-line-height: 2;
$game-piece-size: $cell-size;

body {
  color: $charcoal;
  font-family: $sumana;
}

.btn-text {
  color: $stranger-red;
  font-weight: 700;
  // transition: 1s;
  user-select: none;
}

// .btn-text:hover {
//   color: $near-black;
// }

.title {
  font-family: $rubik;
}

.game-cell {
  font-size: $game-piece-size;
  line-height: $game-piece-size;
  text-align: center;
}
